name: Build Alfa CLI

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-executable:
    name: Build executable
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      matrix:
        include:
          - name: linux-x86
            os: ubuntu-24.04
          - name: macos-arm
            os: macos-15
          - name: macos-x86
            os: macos-15-intel

    steps:
      - uses: actions/checkout@v5

      - name: Print uname info
        run: uname -a

      - name: Cache executable
        id: cache
        uses: actions/cache@v4
        with:
          path: alfa_*
          key: alfa-${{ matrix.name }}-${{ hashFiles('bin/**', 'lib/**') }}

      - uses: dart-lang/setup-dart@v1
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          sdk: stable

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: dart pub get

      - name: Compile executable
        if: steps.cache.outputs.cache-hit != 'true'
        run: make

      - uses: actions/upload-artifact@v4
        with:
          name: alfa-${{ matrix.name }}
          path: alfa_*

  build-executable-on-arm:
    name: Build linux arm executable
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v5

      - name: Cache executable
        id: cache
        uses: actions/cache@v4
        with:
          path: alfa_*
          key: alfa-linux-arm-${{ hashFiles('bin/**', 'lib/**') }}

      - name: Setup arm emulation with qemu
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update -q -y
          sudo apt-get -qq install -y qemu-user qemu-user-static
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes --credential yes

      - name: Create docker command script
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          SCRIPT=$(cat << EOF
          #!/bin/bash
          set -eu

          # installs dependencies
          dart pub get

          # compile executable (make isn't part of this docker image)
          dart compile exe bin/alfa.dart -o alfa

          # renames executable
          ./rename.sh
          EOF
          )

          echo "$SCRIPT" > run.sh

          chmod +x run.sh

      - name: Cat docker command script
        if: steps.cache.outputs.cache-hit != 'true'
        run: cat run.sh

      - name: Build arm executable with docker
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          docker run \
            --rm \
            -t \
            --workdir "$GITHUB_WORKSPACE" \
            -v "${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE}" \
            --platform linux/arm64 \
            dart:stable \
            "${GITHUB_WORKSPACE}/run.sh"

      - uses: actions/upload-artifact@v4
        with:
          name: alfa-linux-arm
          path: alfa_*
