name: Code Style

on:
  push:
    branches:
      - main
      - style/pre-commit
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  code-style-checks:
    name: Code Style Checks
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Get exact Python version
        run: echo "python_version=$(python --version)" >> $GITHUB_ENV

      - name: Cache Virtual Environment and pre-commit cache
        uses: actions/cache@v4
        id: cache-pre-commit
        with:
          path: |
            venv
            pre-commit-cache
          key: v1-venv-pre-commit-${{ runner.os }}-${{ env.python_version }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Install pre-commit
        if: steps.cache-pre-commit.outputs.cache-hit != 'true'
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install pre-commit
          PRE_COMMIT_HOME="$PWD/pre-commit-cache" pre-commit install

      - name: Run Style Check
        run: |
          source venv/bin/activate
          PRE_COMMIT_HOME="$PWD/pre-commit-cache" pre-commit run --all-files
