name: PR Title Linter

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Conventional Commits
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            build
            ci
            docs
            style
            refactor
            perf
            test
            chore
          scopes: |
            core
            functions
            configs
