name: Publish Dart Docker Image

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/publish_dart_docker.yml"
      - ".dart_config/**"
      - "dart.Dockerfile"
  schedule:
    # on the 2nd and 16th of every month
    - cron: "0 0 2,16 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: nateateteen/zshpod:base
            tags: nateateteen/zdartpod:base
          - image: nateateteen/zshpod:full
            tags: nateateteen/zdartpod:full,nateateteen/zdartpod:latest
          - image: nateateteen/zshpod:base-min
            tags: nateateteen/zdartpod:base-min
          - image: nateateteen/zshpod:full-min
            tags: nateateteen/zdartpod:full-min
    steps:
      - uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: dart.Dockerfile
          build-args: IMAGE_NAME=${{ matrix.image }}
          push: true
          tags: ${{ matrix.tags }}
